.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background-image: url("https://spectrum.imgix.net/communities/8a470c6b-5498-49d5-adfc-41e13453c1a9/e167cda3-2081-40ef-9a54-1147f8a19571-Screenshot%25202018-12-17%2520at%252016.15.39.png?w=1280&h=384&dpr=2&q=100&expires=1623024000000&ixlib=js-1.3.0&s=ff83642be070cde62bb4c120532acd0e");
  /* background-image: radial-gradient(at 50% 100%, rgba(123, 22, 255, 0.75), rgb(15, 1, 94)); */
  color: #ffffff;
  color: floralwhite;
  border-radius: 0px !important;
}
h1{
  font-weight: bolder !important;
}
.slogan{
  font-style: italic;
}
.logo{
  width: 200px;
  position: absolute;
}
